backend/venv
backend/.env
backend/__pycache__/
backend/alembic/__pycache__/
backend/alembic/versions/__pycache__/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/core/__pycache__/
backend/app/db/__pycache__/
backend/app/models/__pycache__/
backend/app/repositories/__pycache__/
backend/app/schemas/__pycache__/
backend/app/security/__pycache__/
backend/app/services/__pycache__/
backend/app/chat/__pycache__
backend/app/embeddings/__pycache__
backend/app/integrations/__pycache__
backend/app/integrations/vector_store/__pycache__
frontend/node_modules/
frontend/.next/
frontend/tsconfig.tsbuildinfo
frontend/.env
frontend/.env.local
